@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
code {
  font-family: "ABeeZee", sans-serif;
}
body {
  margin: 0;
  font-family: "ABeeZee", sans-serif;
  background-image: url(./media/fondo.jpg);
  background-repeat: no-repeat;

}
:root {
  --waiterButton: linear-gradient(
    89.5deg,
    #cc30e6 18.53%,
    #698deb 56.52%,
    #24acf9 88.94%
  );
  --tittleText: white;
}
/* Vista principal */
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(35deg);
  }
  50% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(35deg);
  }
}
.buttons {
  margin: 20px;
}
.link-color {
  color: var(--tittleText);
  text-decoration: none;
}
.link-active {
  font-weight: bold;
}
.App {
  grid-template-columns: 4;
}
.waiterButton {
  background: var(--waiterButton);
  font-size: 60px;
  border-radius: 30px;
  margin: 20px;
  width: 320px;
  height: 80px;
  border: none;
}
.icon {
  width: 46.68px;
}
.chefButton {
  background: linear-gradient(89.5deg, #269731 28.66%, #24acf9 75.26%);
  font-size: 60px;
  border-radius: 30px;
  margin: 20px;
  width: 320px;
  height: 80px;
  border: none;
}

/* Vista waiter */
.miniLogo {
  position: absolute;
  height: 200px;
  left: 12px;
  top: -9px;
}
.navWaiter {
  position: absolute;
  width: 1080px;
  height: 90px;
  left: 286px;
  top: 76px;
  background: rgba(15, 3, 64, 0.5);
  border-radius: 10px;
}
.waiter {
  position: relative;
  text-decoration: white;
  cursor: pointer;
  color: white;
  font-size: 50px;
  margin-left: 10%;
}

.iconWaiter {
  position: relative;
  width: 60px;
  height: 60px;
  top: 15%;
}
.inputName {
  position: absolute;
  width: 459px;
  height: 60px;
  left: 843px;
  top: 195px;
  background: linear-gradient(
    89.5deg,
    rgba(204, 48, 230, 0.9) 18.53%,
    rgba(105, 141, 235, 0.9) 56.52%,
    rgba(36, 172, 249, 0.9) 88.94%
  );
  border-radius: 20px;
  font-size: 25px;
  border: none;
  padding-left: 30px;
  color: var(--tittleText);
}
.inputName::placeholder {
  color: var(--tittleText);
}
.inputTables {
  position: absolute;
  width: 170px;
  height: 60px;
  left: 635px;
  top: 196px;
  background: var(--waiterButton);
  border-radius: 20px;
  font-size: 25px;
  border: none;
  padding-left: 30px;
  color: var(--tittleText);
}
.inputTables::placeholder {
  color: var(--tittleText);
}


/* Vista chef */
.iconChef {
  position: relative;
  width: 55px;
  height: 56px;
  top: 15px;
}
a.chef {
  position: relative;
  text-decoration: white;
  cursor: pointer;
  color: white;
  font-size: 50px;
  margin-left: 60%;
  top: 5%;
}