body {
  margin: 0;
  font-family: 'ABeeZee', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'ABeeZee', sans-serif;
}
.link-color{
  color: white;
  text-decoration: none;
}
.waiterButton{
  background-color:linear-gradient( to right, rgba(0, 0, 0, .75), rgba(23, 29, 102, .75));
  font-size: 60px;
  border-radius: 40px;

}
.waiterIcon{
  width: 46.68px;
}